/* Using Object orienter principle, Separating skin from structure(so separating colors/visuals from size padding margin etc etc), 
separating container from content.
following BEM naming convention */
/* wherever we are using pixel size, we are doing so because  these sizes are fixed
and doesnt change whether its on mobile or desktop etc */

:root{
    --color-primary:#2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400; 
    --color-headings: #1b0760;
    --color-body: #aaa7b8;
}




/* Typography */
/* setting fonts sizing for body, also setting it for different headings */

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;

}

h1, 
h2, 
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}


h1{
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p{
    margin-top: 0;
}


@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;;
    }
}





/* Links */
/* removing default underline, adding arrow at the end and arrow hover effect */

a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight:bold ;
}

.link-arrow::after{
    content: '->';
    margin-left: 5px;
    transition: margin .15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}


@media screen and (min-width: 1024px){
    .link-arrow{
        font-size:1.5rem ;
    }
}




/* Badges */ 
 /* we are creating a badge class for the structure and few other
  classes to give  colors and another class for small badges size */

.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 2rem;
    white-space: nowrap;

}

.badge--primary{
    background-color : var(--color-primary);
    color : #fff;
}

.badge--secondary{
    background-color : var(--color-secondary);
    color: #fff;
}


.badge--small{
    font-size:1.6rem ;
}


@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }    
}



/* Lists */
/* we set basic structure for any list. Then we define style for inline list,
and we define style for verticle lists(list with ticks) */

.list{
    list-style: none;
    color: var(--color-headings);
    padding-left: 0;
}



/* each item in  an inline list has to be inline-block */
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}


.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}


.list--tick  .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    list-style-image: url(../images/tick.svg);
}

@media screen and (min-width:1024px) {
    .list--tick .list__item{
    padding-left:0;
    }
}




/* icons */

/* we set sizing of our icon and color. icon has a white circle outside,so we use a span/div a .icon-container
and make it circle, and set it to flex and put items at center,only item it has is our icon so it goes to center
we actually set the container to inline-flex so we can put other stuff on the same line we use the icon */

.icon{
    width: 40px;
    height: 40px;
}


.icon--primary{
    fill: var(--color-primary);
}

.icon-container{
    height: 60px;
    width: 60px;
    background-color: #f3f9fa;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}




/* Buttons */
/* 
We define primary shape size of our button, some padding and text format, for block button set full width of its ::content
and we set some colors, hover effect and outline */

.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}


.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffd;
}



.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #05cdf0;
}



.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #ec3000;
}



.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}


.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
}



@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}