<div style="width: 30%; padding: 5rem">
  <div class="card card--secondary">
    <div class="card__header">Header Card</div>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, modi. Cum
      assumenda accusamus vitae accusantium dolore vel enim numquam praesentium,
      eligendi consectetur, laborum aliquam, culpa quae tempore adipisci sequi.
      Iste.
    </div>
  </div>
</div>
<div style="width: 40%; padding: 5rem">
  <div class="card card--primary">
    <div class="card__header">Header Card</div>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, modi. Cum
      assumenda accusamus vitae accusantium dolore vel enim numquam praesentium,
      eligendi consectetur, laborum aliquam, culpa quae tempore adipisci sequi.
      Iste.
    </div>
  </div>
</div>
