<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start and Margin</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste natus
      expedita neque tempora aperiam commodi eum adipisci sequi veritatis quas
      molestias qui, omnis pariatur reprehenderit rerum dolores earum odit
      animi.
    </p>
  </div>
</div>
